/* 1. Import Tailwind v4 */
@import "tailwindcss";

/* Identify Javascript files */
@source "../build/js/";     

/* 2. Custom Media Queries */
@custom-variant widescreen (@media (min-aspect-ratio: 3/2));
@custom-variant tallscreen (@media (max-aspect-ratio: 13/20));

/* Adding custom colors */
@theme{
    --color-papayawhip: #ffefd5;
    --color-papayawhiplight: #fef4e4;
    --color-papayawhipdark: #fee5bc;
}

/* Custom Utility */
@utility section-min-height {
    min-height: calc(100vh - 68px);
}

/* Custom Animation */
@theme{
    --animate-open-menu: open-menu 0.5s ease-in-out forwards;
}

/* Custom Keyframes */
@keyframes open-menu{
    0% {transform: scaleY(0);}
    80% {transform: scaleY(1.2);}
    100% {transform: scaleY(1);}
}

/* custom applicatn of animation to js toggle btn */
@utility toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-720;
}
